@use "../../styles/mixins";
@use "../../styles/constants";

.test-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    max-width: 40rem;
    min-width: 20rem;
    border: 4px solid var(--base-font-colour);
    border-radius: 0.5rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    opacity: var(--component-opacity);
    font-size: 1.1rem;
    transition:
        opacity constants.$component-opacity-fade-duration ease-in-out,
        border 0.3s ease-in-out;

    .test-options-icon {
        margin-right: 0.25rem;
    }

    .uninteractable-selector {
        pointer-events: none;
    }

    .standard-options-container {
        display: grid;
        padding: 0.2rem 0;

        .test-type-words,
        .test-type-time {
            @include mixins.transition-opacity(var(--component-opacity));
            grid-area: 2 / 1;
        }
    }

    .mode-options-container {
        display: grid;
        padding: 0.2rem 0;
        border-left: 4px solid var(--base-font-colour);
        transition: border-color 0.3s ease-in-out;

        .test-mode-standard,
        .test-mode-funbox {
            @include mixins.transition-opacity(var(--component-opacity));
            grid-area: 2 / 1;
        }
    }

    .test-option-selector {
        text-align: center;
        -webkit-user-select: none;
        user-select: none;
        margin: 0.2rem 1rem;

        input:disabled+label {
            color: rgba(0, 0, 0, 0.2);
            pointer-events: none;
        }

        .option-text {
            color: var(--base-font-colour);
        }

        .selectable-label {
            padding: 0.5rem;
            margin: 0.25rem;
            font-weight: constants.$bold-font-weight;
            @include mixins.transition-hover-button();

            &:hover {
                cursor: pointer;
                color: var(--secondary-highlight-colour);
                @include mixins.transition-hover-button();
            }
        }
    }
}

@media (max-width: 1000px) {
    .test-options {
        grid-template-columns: 1fr;
        width: 20rem;
    }

    .mode-options-container {
        border-top: 4px solid var(--base-font-colour);
        border-top-style: solid !important;
        border-left-style: none !important;
    }
}