.test-mode-selector {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto 1rem auto !important; // to overwrite .test-option-selector

    text-align: left !important;
    width: 18rem;
    border: 4px solid var(--base-font-colour);



    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    padding: 0.2rem;
    border-radius: 0.5rem;
    position: relative;
    transition: border-color 0.3s ease-in-out;

    .option-text {
        margin: auto;
    }

    .option-selected-bar {
        position: absolute;
        z-index: -1;
        width: 50%;
        left: 0;
        height: 100%;
        background-color: var(--base-font-colour);
        transition:
            left 0.15s ease,
            background-color 0.3s ease-in-out;
    }
}