// CONSTANTS
$component-opacity-fade-duration: 300ms;
$completion-bar-transition-duration: 200ms;
$text-colour-transition-duration: 300ms;
$letter-colour-transition-duration: 100ms;
$base-font-size: 1.3rem;

$incorrect-font-colour: rgb(220 38 38);

$word-line-height: 3rem;
$bold-font-weight: 600;
$standard-icon-spacing: 0.25rem;
$larger-icon-spacing: 0.5rem;

$min-width: 22rem;