// VARIABLES CHANGED FROM REACT
:root {
    --component-opacity: 1;
    --test-words-max-height: 144px;
    --word-scroll-transition-property: top;
    --cursor-display: auto;

    --background-colour: #2f3234;
    --base-font-colour: #a1a1aa;
    --primary-highlight-colour: #fde047;
    --secondary-highlight-colour: #040D12;
}