// VARIABLES CHANGED FROM REACT
:root {
    --test-type-words-opacity: 1;
    --test-type-time-opacity: 0;
    --component-opacity: 1;
    --completion-bar-opacity: 0;
    --typing-test-opacity: 1;
    --results-component-opacity: 0;
    --completion-percentage: 0%;
    --WPM-opacity: 0;
    --WPM-transition: opacity;
    --WPM-display: block;
    --test-words-display: block;
    --results-component-display: none;
    --test-words-max-height: 144px;
    --test-words-div-offset: 0px;
    --test-words-top-transition: none;
    --reset-div-margin: 0rem;
    --reset-button-text-opacity: 0;
    --word-scroll-transition-property: top;
    --caret-position: 0px;
    --caret-top-offset: 0rem;
    --capslock-display: block;
    --capslock-opacity: 1;
    --afk-opacity: 0;
    --colour-palettes-display: none;
    --colour-palettes-max-height: 0rem;

    --background-colour: #2f3234;
    --base-font-colour: #a1a1aa;
    --primary-highlight-colour: #fde047;
}