.main-summary-div {
    overflow: hidden;
    display: grid;
    gap: 1rem;
    max-width: 100rem;
    height: 21rem;
    margin: auto;

    .level {
        grid-row: 1 / span 2;
        border: 2px solid var(--base-font-colour);
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        font-size: 6rem;
        color: var(--primary-highlight-colour);

        .level-label {
            font-size: 1.5rem;
            color: var(--base-font-colour);
        }
    }

    .statistic {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 2.5rem;
        text-align: center;
        border: 2px solid var(--base-font-colour);
        border-radius: 0.5rem;
        color: var(--primary-highlight-colour);
        flex-wrap: wrap;

        .statistic-label {
            font-size: 1.3rem;
            color: var(--base-font-colour);
        }
    }

    .experience-indicator {
        grid-column: 1 / -1;
        border: 2px solid var(--base-font-colour);
        border-radius: 2rem;
        position: relative;

        .current-experience-text {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            margin-top: -0.15rem;
            font-weight: bold;
            color: var(--base-font-colour);
        }

        .current-experience-bar {
            height: 100%;
            border-radius: 2rem;
            background-color: var(--primary-highlight-colour);
            transition: width 0.3s linear;
            z-index: -1;
        }
    }
}

@media (min-width: 1400px) {
    .main-summary-div {
        grid-template-columns: 15rem repeat(6, 1fr);
        grid-template-rows: 1fr 1fr 1.5rem;

        .statistic {
            grid-column: span 2;

            &.first-row {
                grid-column: span 3;
            }
        }
    }
}

@media (max-width: 1399px) {
    .main-summary-div {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1.5rem;

        .level {
            font-size: 2.5rem;
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;

            .level-label {
                font-size: 1.3rem;
            }
        }
    }
}

@media (max-width: 800px) {
    .main-summary-div {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1.5rem;

        .level {
            font-size: 2rem;
        }

        .statistic {
            font-size: 2rem;

            .statistic-label {
                font-size: 1.3rem;
            }
        }
    }
}

@media (max-width: 560px) {
    .main-summary-div {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr) 1.5rem;

        .statistic {
            display: grid;
            grid-template-columns: 1fr 1fr;
            font-size: 1.3rem;

            .statistic-label {
                font-size: 1rem;
                text-align: left;
            }
        }

        .level {
            display: grid;
            grid-template-columns: 1fr 1fr;
            font-size: 1.3rem;

            .level-label {
                font-size: 1rem;
                text-align: left;
            }
        }
    }
}