@use "../_constants.scss";
@use "../_variables.scss";
@use "../_mixins.scss";

.bottom-bar-div {
    margin-top: auto;
    width: 100dvw;

    .key-tips {
        @include mixins.general-color-and-opacity-transition();
        opacity: var(--component-opacity);
        font-size: 0.9rem;
        margin-bottom: 1.5rem;
        text-align: center;
        letter-spacing: 0.1rem;
        margin-top: auto;
        font-weight: constants.$bold-font-weight;

        .key-highlight {
            @include mixins.general-color-transition();
            background-color: var(--base-font-colour);
            color: var(--background-colour);
            border-radius: 0.3rem;
            padding: 0.2rem 0.5rem;
        }
    }
}