@use "../_constants.scss";
@use "../_variables.scss";
@use "../_mixins.scss";

.colour-palette-div {


    .colour-palette-button {}

    .colour-palette-options {
        display: var(--colour-palettes-display);
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        margin-bottom: 3rem;
        height: auto;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 1rem;
        width: 15rem;
    }

    .colour-palette-option {
        height: 3rem;
        margin-bottom: .5rem;
        width: 8.5rem;

        :hover {
            cursor: pointer;
        }

        .selectable-colour-palette-label {
            height: 100%;
            border-radius: 2rem;
            padding-left: 1rem;

            .colour-preview {
                margin-top: 0.75rem;
                margin-right: 1rem;
                display: inline-block;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 0.75rem;
            }
        }
    }
}