@use "../_constants.scss";
@use "../_variables.scss";

.completion-bar {
    display: flex;
    position: relative;
    height: 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--primary-highlight-colour);
    width: 0;
    max-width: 100%;
    transition: width constants.$completion-bar-transition-duration linear, background-color 0.3s ease-in-out;
    margin-top: 1rem;
}