@use "../_constants.scss";
@use "../_variables.scss";
@use "../_mixins.scss";


.header {
    button:hover {
        color: var(--secondary-highlight-colour);
        @include mixins.transition-hover-button();
    }

    display: block;
    position: absolute;
    width: 100%;
    overflow: hidden;
    padding: 0 2rem;
    z-index: 100;
    box-shadow: 0 0 12px black;
    border-bottom: 3px solid var(--base-font-colour);
    background-color: var(--background-colour);
    opacity: var(--component-opacity);
    transition: background-color 0.3s ease-in-out,
    opacity constants.$component-opacity-fade-duration ease-in-out,
    border-bottom 0.3s ease-in-out,
    height 0.3s ease-in-out;

    .icon {
        margin-right: constants.$standard-icon-spacing;
    }

    .account-button {
        margin-top: 0.4rem;
        margin-bottom: 1rem;
        text-align: left;
    }
}