@use "../_constants.scss";
@use "../_variables.scss";
@use "../_mixins.scss";



.leaderboard-div {
    margin-top: 1rem;

    table {
        width: 100%;

        thead {
            border-bottom: 2px solid var(--primary-highlight-colour);
        }

        th,
        td {
            padding: 0.2rem 0.4rem;

            &.right-align {
                text-align: right;
            }
        }
    }

    .leaderboard-login-prompt {
        text-align: center;
        font-size: 30px;
    }
}