@use "../_constants.scss";
@use "../_variables.scss";
@use "../_mixins.scss";

.account-container {
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    border: 4px solid var(--base-font-colour);
    border-radius: 0.75rem;
    padding: 1rem;
    box-shadow: 0 0 8px black;
    transition:
        border 0.3s ease-in-out,
        height 0.1s ease-in-out;

    .tab-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    button {
        &:hover {
            color: var(--primary-highlight-colour);
            transition: color 0.15s ease-in-out;
        }
    }

    .form-container {
        display: grid;
        row-gap: 0.5rem;
        align-content: space-between;
        justify-content: center;
        position: relative;
        margin-top: 0.5rem;
        transition: height 0.3s ease-in-out;

        .form-field {
            width: 18rem;

            label {
                display: block;
            }

            input {
                width: 100%;
                outline: none;
                padding-left: 0.25rem;
                border-radius: 0.25rem 0 0 0.25rem;
            }

            .password-field {
                display: grid;
                grid-template-columns: 16.5rem 1fr;

                .password-icon {
                    background-color: white;
                    border-radius: 0 0.25rem 0.25rem 0;
                }

            }
        }

        .error-message {
            text-align: center;
            color: var(--secondary-highlight-colour);
            height: 1.5rem;
        }

        button {
            font-weight: 500;
            font-size: constants.$base-font-size;
        }
    }
}