@use "../_constants.scss";
@use "../_variables.scss";
@use "../_mixins.scss";

@media (max-width: 670px) {
    .test-options {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 671px) {
    .test-options {
        grid-template-columns: repeat(2, 1fr);
    }
}

.test-options {
    display: grid;
    font-size: constants.$base-font-size;
    @include mixins.transition-opacity(var(--component-opacity));

    .test-options-icon {
        margin-right: 0.25rem;
    }

    .test-option-selector {
        grid-column: span 1 / span 1;
        text-align: center;
        -webkit-user-select: none;
        user-select: none;
        margin-bottom: 1rem;
        @include mixins.transition-opacity(var(--component-opacity)); // used for switching between words/time

        &.uninteractable-selector {
            pointer-events: none;
        }

        &.test-type-words {
            opacity: var(--test-type-words-opacity);
            grid-area: 2 / 1;
        }

        &.test-type-time {
            opacity: var(--test-type-time-opacity);
            grid-area: 2 / 1;
        }

        .option-text {
            color: var(--base-font-colour);
            transition: color 0.15s ease-in-out;

            :hover {
                cursor: pointer;
                color: constants.$hover-font-colour;
                transition: color 0.15s ease-in-out;
            }

            .selectable-label {
                padding: 0.5rem;
                margin: 0.25rem;
                font-weight: constants.$bold-font-weight;
            }
        }
    }
}