@use "../_constants.scss";
@use "../_variables.scss";
@use "../_mixins.scss";

.typing-test {
    margin-top: 3rem;
    -webkit-user-select: none;
    user-select: none;
    grid-area: 1 / 1;
    width: 100%;
    height: var(--test-words-max-height);
    overflow: hidden;
    position: absolute;
    display: var(--test-words-display);
    font-weight: 300;

    .text-field-container {
        position: absolute;
        display: flex;
        width: 100%;
        height: var(--test-words-max-height);
        margin-bottom: 5rem;
        z-index: 10;

        .text-field {
            width: 100%;
            background-color: transparent;
            color: transparent;
            border: none;
            font-size: 1px;
        }

        input:focus {
            outline: none;
        }
    }

    .debug {
        position: absolute;

    }

    .words-container {
        @include mixins.transition-words();
        display: flex;
        flex-wrap: wrap;
        opacity: var(--typing-test-opacity);
        max-height: var(--test-words-max-height);
        font-size: 2rem; // 'scroll transition' amount is dependent on the text properties in this class
        line-height: constants.$word-line-height;
        top: var(--test-words-div-offset);
        position: absolute;

        .caret {
            transition-property: left, top, background-color;
            transition-timing-function: linear, linear, ease-in-out;
            transition-duration: 0.125s, 0.125s, 0.3s;
            background-color: var(--primary-highlight-colour);
            border-radius: 0.25rem;
            width: .2rem;
            position: absolute;
            top: var(--caret-top-offset);
            height: constants.$word-line-height; // should always match line height of words ^
            left: var(--caret-position);

            &.awaiting-input {
                animation: blinking-caret 1.5s linear infinite;
            }
        }

        .word {
            margin-right: 1.25rem;

            &.last-word-in-line {
                text-decoration: underline;
            }

            .letter {
                @include mixins.transition-text-color();
                transition-duration: constants.$letter-colour-transition-duration;
                border-left: 3px solid transparent;

                // if these are changed, need to update letterColour() in TypingTest.tsx
                &.base-text-colour {
                    color: var(--base-font-colour);
                }

                &.correct-text-colour {
                    color: constants.$correct-font-colour;
                }

                &.incorrect-text-colour {
                    color: constants.$incorrect-font-colour;
                }
            }
        }
    }
}