@use "../_constants.scss";
@use "../_variables.scss";
@use "../_mixins.scss";

.test-results-div {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: constants.$component-opacity-fade-duration;
    max-width: 100%;
    font-size: constants.$base-font-size;
    margin-top: -4rem;

    & * {
        @include mixins.general-color-transition();
    }

    .score-submit-row {
        text-align: center;

        .login-prompt {
            &:hover {
                @include mixins.transition-hover-button();
                color: var(--primary-highlight-colour);
            }
        }
    }

    .results-chart {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tab-container {
        margin: auto;
        padding-top: 1rem;
        width: 90%;
        border-bottom: 2px solid var(--primary-highlight-colour);

        .tab-selected {
            border-bottom: 4px solid var(--primary-highlight-colour);
        }

        .first {
            border-right: 2px solid var(--primary-highlight-colour);
        }
    }

    .tabbed-content {
        width: 90%;
        margin: auto;
    }
}