@use "../../styles/mixins";
@use "../../styles/constants";

.footer {
    box-shadow: 0 0 12px black;
    display: flex;
    justify-content: space-between;
    min-width: constants.$min-width;
    align-items: center;
    margin-top: auto;
    width: 100%;
    border-top: 3px solid var(--base-font-colour);
    height: 2.5rem;
    opacity: var(--component-opacity);
    font-weight: constants.$bold-font-weight;
    background-color: var(--background-colour);
    transition:
        background-color 0.3s ease-in-out,
        opacity constants.$component-opacity-fade-duration ease-in-out,
        border-top 0.3s ease-in-out;

    .footer-item {

        &:first-child {
            padding-left: 2rem;
        }

        &:last-child {
            padding-right: 2rem;
        }

        &:hover {
            color: var(--secondary-highlight-colour);
            @include mixins.transition-hover-button();
        }
    }

    .icon {
        margin-right: constants.$standard-icon-spacing;
    }
}