.leaderboard-div {
    margin-top: 1rem;
    overflow: scroll;
    overflow-y: auto;
    height: 18rem;

    &::-webkit-scrollbar {
        height: 0.7rem;
    }

    .loading-icon-container {
        width: 100%;
        text-align: center;
        font-size: 3rem;
    }

    table {
        width: 100%;
        margin: auto;
        min-width: 50rem;
        max-width: 80rem;

        thead {
            border-bottom: 2px solid var(--base-font-colour);
            transition: border-bottom 0.3s ease-in-out;
        }

        th,
        td {
            color: var(--base-font-colour);
            transition: color 0.3s ease-in-out;
            padding: 0.1rem 0.6rem;
            overflow: hidden;

            &.right-align {
                text-align: right;
            }

            &.username-column {
                width: 13rem;
                overflow: hidden;
                display: inline-block;
            }
        }
    }

    .leaderboard-login-prompt {
        text-align: center;
        color: var(--base-font-colour);
        transition: color 0.3s ease-in-out;
        font-size: 30px;
    }
}