.leaderboard-div {
    margin-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    max-height: 20rem;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
        height: 0.7rem;
    }

    table {
        width: 100%;
        margin: auto;
        max-width: 80rem;

        thead {
            border-bottom: 2px solid var(--base-font-colour);
        }

        th,
        td {
            padding: 0.1rem 0.6rem;

            &.right-align {
                text-align: right;
            }
        }

        @media (max-width: 1080px) {

            td.fifth,
            th.fifth {
                display: none;
            }
        }

        @media (max-width: 850px) {

            td.forth,
            th.forth {
                display: none;
            }
        }

        @media (max-width: 600px) {

            td.third,
            th.third {
                display: none;
            }
        }
    }

    .leaderboard-login-prompt {
        text-align: center;
        font-size: 30px;
    }
}