.leaderboard-div {
    margin-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-gutter: stable both-edges;


    &::-webkit-scrollbar {
        height: 0.7rem;
    }

    .loading-icon-container {
        width: 100%;
        text-align: center;
        font-size: 3rem;
    }

    table {
        width: 100%;
        margin: auto;
        max-width: 80rem;

        thead {
            border-bottom: 2px solid var(--base-font-colour);
            transition: border-bottom 0.3s ease-in-out;
        }

        th,
        td {
            color: var(--base-font-colour);
            transition: color 0.3s ease-in-out;
            padding: 0.1rem 0.6rem;
            overflow: hidden;

            &.right-align {
                text-align: right;
            }

            &.second {
                width: 15rem;
                overflow: hidden;
                display: inline-block;

            }
        }
    }

    .leaderboard-login-prompt {
        text-align: center;
        color: var(--base-font-colour);
        transition: color 0.3s ease-in-out;
        font-size: 30px;
    }
}

@media (max-width: 1500px) {

    .sixth {
        display: none;
    }
}

@media (max-width: 1100px) {

    .fifth {
        display: none;
    }
}

@media (max-width: 900px) {

    .forth {
        display: none;
    }
}

@media (max-width: 670px) {
    .third {
        display: none;
    }
}