@use "../../styles/constants";

.test-results-statistics {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5rem 5rem;
    height: 18rem;

    .grid-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;


        .score {
            color: var(--primary-highlight-colour);
            font-size: 2.3rem;
            line-height: 2.3rem;
            transition: color 0.3s ease-in-out;

        }

        .label {
            color: var(--base-font-colour);
            transition: color 0.3s ease-in-out;

        }

        &.wpm-grid {
            grid-row: span 2;

            .wpm {
                font-size: 5.5rem;
                line-height: 5.4rem;
                color: var(--primary-highlight-colour);
                transition: color 0.3s ease-in-out;

            }

            .wpm-label {
                color: var(--base-font-colour);
                transition: color 0.3s ease-in-out;

            }
        }
    }
}

@media (max-width: 830px) {
    .test-results-statistics {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 8rem 5rem 5rem;

        .grid-item.wpm-grid {
            grid-row: 1 / span 1;
            grid-column: 1 / -1;

            justify-content: center;
        }
    }
}