// CONSTANTS
$component-opacity-fade-duration: 300ms;
$completion-bar-transition-duration: 200ms;
$text-colour-transition-duration: 300ms;
$letter-colour-transition-duration: 150ms;

$background-colour: rgb(47, 50, 52);
$base-font-colour: rgb(161 161 170);
$selected-font-colour: rgb(253 224 71);
$correct-font-colour: rgb(255 255 255);
$incorrect-font-colour: rgb(220 38 38);
$hover-font-colour: rgb(255 255 255);

// VARIABLES CHANGED FROM REACT
:root {
  --test-type-words-opacity: 1;
  --test-type-time-opacity: 0;
  --component-opacity: 1;
  --completion-bar-opacity: 0;
  --typing-test-opacity: 1;
  --results-component-opacity: 0;
  --completion-percentage: 0%;
}

@mixin transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: $component-opacity-fade-duration;
  opacity: var(--component-opacity);
}

@mixin transition-colors {
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: $text-colour-transition-duration;
}

.App {
  text-align: left;
  align-items: center;
  justify-content: center;
  background-color: $background-colour;
  color: $base-font-colour;
  min-height: 100vh;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .inner-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.25rem;
    width: 80%;

    .top-gap {
      grid-column: 1 / -1;
      height: 2.5rem;
    }

    .test-options {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));

      .test-option-selector {
        @include transition-opacity();
        grid-column: span 1 / span 1;
        text-align: center;
        -webkit-user-select: none;
        user-select: none;
        margin-bottom: 1rem;

        &.uninteractable-selector {
          pointer-events: none;
        }

        &.test-type-words {
          opacity: var(--test-type-words-opacity);
          grid-area: 2 / 1;

        }

        &.test-type-time {
          opacity: var(--test-type-time-opacity);
          grid-area: 2 / 1;

        }

        .option-text {
          color: $base-font-colour;

          :hover {
            cursor: pointer;
            color: $hover-font-colour;
          }

          .hidden-radio-button {
            display: none;
          }

          .selectable-label {
            @include transition-colors();
            padding: 0.5rem;
            margin: 0.25rem;
            font-weight: 600;
          }
        }
      }
    }
  }

  input[type="radio"]:checked+label {
    color: $selected-font-colour;
  }

  input[type="checkbox"]:checked+label {
    color: $selected-font-colour;
  }
}

input[type="text"]::selection,
input[type="text"]::placeholder,
input[type="text"]::-moz-placeholder {
  text-decoration: none;
}

.typing-test {
  grid-column: 1 / -1;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  margin-top: 5rem;

  .text-field-container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    user-select: none;

    .text-field {
      width: 100%;
      background-color: transparent;
      color: transparent;
      border: none;
    }

    input:focus {
      outline: none;
    }
  }

  .words-container {
    @include transition-opacity();
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    opacity: var(--typing-test-opacity);

    .word {
      font-size: 2rem;
      line-height: 2.5rem;
      margin-right: 1rem;
      letter-spacing: 0.1em;

      .letter {
        @include transition-colors();
        transition-duration: $letter-colour-transition-duration;
      }

      // if these are changed, need to update letterColour() in TypingTest.tsx
      .base-text-colour {
        color: $base-font-colour;
      }

      .correct-text-colour {
        color: $correct-font-colour;
      }

      .incorrect-text-colour {
        color: $incorrect-font-colour;
      }
    }
  }
}

.reset-button {
  @include transition-opacity();
  grid-column: 2;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  :focus {
    outline: none;
  }
}

.reset-button:hover .fa-spin-custom {
  color: $hover-font-colour;
  animation: fa-spin-custom 10s infinite linear;
}

.fa-spin-custom {
  @include transition-colors();
  font-size: 3rem;
  color: $base-font-colour;
  padding: 1rem;

}

@keyframes fa-spin-custom {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.test-completion-bar {
  @include transition-colors();
  grid-column: 1 / -1;
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: $selected-font-colour;
  width: var(--completion-percentage);
  max-width: 100%;
  transition: width $completion-bar-transition-duration linear;
  margin-top: 3rem;
}

.test-results-div {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: $component-opacity-fade-duration;
  opacity: var(--results-component-opacity);
  background-color: blue;

}