@use "styles/_variables.scss";
@use "styles/font-faces.scss";
@use "styles/_mixins.scss";
@use "styles/_constants.scss";

body {
  margin: 0;
  background-color: var(--background-colour);
  font-family: "Roboto Mono";
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include mixins.general-color-transition();
}

.App {
  text-align: left;
  align-items: center;
  justify-content: center;
  color: var(--base-font-colour);
  height: 100vh;
}

.hidden-radio-button {
  display: none;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;

  .inner-container {
    width: 70%;
    height: 10%;
    position: relative;
    margin-top: 8rem;

  }

  input[type="radio"]:checked+label {
    @include mixins.general-color-transition();
    color: var(--primary-highlight-colour);
  }

  input[type="checkbox"]:checked+label {
    @include mixins.general-color-transition();
    color: var(--primary-highlight-colour);
  }
}

.results-overlap-container {
  display: grid;
  grid-template-areas: 1 / 1;
  height: 25rem;
  -webkit-user-select: none;
  user-select: none;
}

@keyframes fa-spin-custom {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes blinking-caret {
  0% {
    background-color: var(--primary-highlight-colour);
  }

  50% {
    background-color: transparent;
  }

  100% {
    background-color: var(--primary-highlight-colour);
  }
}